<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="login_css.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="form-box">
        <form class="input-icons">
            <h1>Login</h1>
            <div class="Uname">    
                <input type="text" class="input-field" id="Uname" placeholder="Enter Username" required>
            </div>
	<div class="password-container">
            <input type="password" id="password1" placeholder="Enter Password" required>
            <span class="eye" id="pe" onclick="eyefun()">
                <i id="hide1" class="fa fa-eye"></i>
                <i id="hide2" class="fa fa-eye-slash"></i>
            </span>
           </div>
           
        <div class="bt">
                <button type="submit">Login</button>
            </div>
            <br>
            <div class="login" >
                <p>New to website? <a href="">Sign Up</a></p>
            </div>
             <script>
                function eyefun(){
                    var x = document.getElementById("password1")
                    var y = document.getElementById("hide1")
                    var z = document.getElementById("hide2")

                    if(x.type === 'password'){
                        x.type = "text"
                        y.style.display = "block";
                        z.style.display = "none";
                    }
                    else{
                        x.type = "password"
                        y.style.display = "none";
                        z.style.display = "block";
                    }
                }
               </script>
	</form> 
    </div>
</body>
</html>
