<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" type="text/css" href="signup.css">
    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="form-box">
        <form class="input-icons">
            <h1>Create Account</h1>
            <div class="Uname">
                
                <input type="text" class="input-field" id="Uname" placeholder="Enter your Username" required>
            </div>
            <div class="email">
               
                <input type="email" class="input-field" id="email" placeholder="Enter your email" required>
            </div>
            <div class="date">
                <!-- <input type="date" id="date" placeholder="Date of Birth" required> -->
                <input placeholder = "Date of Birth" class = "textbox-n" type = "text" onfocus = "(this.type = 'date')"  id = "date">
            </div>
            <div class="list">
                
                <input type="list" id="list" list="Gender" placeholder="Gender" required>
            <datalist id="Gender">
                <option>Male</option>
                <option>Female</option>
                <option>Other</option>
            </datalist>
            </div>
            <div class="pnumber">
             
                <input type="text" name="" id="number" placeholder="Enter Phone Number" pattern="[0-9]{10}" required>
            </div>    
            <div class="password-container">
            <input type="password" id="password1" placeholder="Enter Password" required>
            <span class="eye" id="pe" onclick="eyefun()">
                <i id="hide1" class="fa fa-eye"></i>
                <i id="hide2" class="fa fa-eye-slash"></i>
            </span>
           </div>
            <div class="password-container1">
            <input type="password" id="password2" placeholder=" Enter Confirm Password" required>
           <span class="eye" id="pe1" onclick="eyefun1()">
                <i id="hide3" class="fa fa-eye"></i>
                <i id="hide4" class="fa fa-eye-slash"></i>
            </span>
            </div>
            <div class="bt">
                <button type="submit">Sign Up</button>
            </div>
            <br>
            <div class="login" >
                <p>Already have an account? <a href="">Login</a></p>
            </div>
             <script>
                function eyefun(){
                    var x = document.getElementById("password1")
                    var y = document.getElementById("hide1")
                    var z = document.getElementById("hide2")

                    if(x.type === 'password'){
                        x.type = "text"
                        y.style.display = "block";
                        z.style.display = "none";
                    }
                    else{
                        x.type = "password"
                        y.style.display = "none";
                        z.style.display = "block";
                    }
                }
                    function eyefun1(){

                        var x1 = document.getElementById("password2")
                        var y1 = document.getElementById("hide3")
                        var z1 = document.getElementById("hide4")

                        if(x1.type === 'password'){

                            x1.type = "text"
                            y1.style.display = "block";
                            z1.style.display = "none";  
                        }
                        else{

                            x1.type = "password"
                            y1.style.display = "none";
                            z1.style.display = "block";
                        }

                    }
                
            </script> 
        </form> 
    </div>
</body>
</html>
