
{% ifequal not "No" %}
<button
 value="hotelBook" class="btn float-right login_btn" id="lg_bt">
    <a href="/alreadyBooked/{{trip}}">View Booked Hotel</a>
</button>
{% else %}
<button
 value="hotelBook" class="btn float-right login_btn" id="lg_bt">
    <a href="bookHotel">Book Hotel</a>
</button>
{% endifequal %}
<button value="mapview" class="btn float-right login_btn" id="lg_bt">
    <a href="mapview">MapView</a>
</button>


<br>
<br>
<br>

{% for obj in itinary_gen %}

    {{obj.arrival_DnT}}<br>
  
    {% ifequal obj.place_id None %}
    {% ifequal not "No" %}
    {% else %}
            <button value="Add" class="btn float-right login_btn" id="lg_bt">
                <a href="addPlace/{{forloop.counter}}">Add</a>
            </button>
    {% endifequal %}
    {% else %}
        {{obj.place_id.name_place}}<br>
        {{obj.place_id.rate_place}} Stars<br>
        {% for item in org_iti %}
      
            {% if  item.trip_id == obj.trip_id and  item.arrival_DnT == obj.arrival_DnT %}
            {% ifequal not "No" %}
        {% else %}
     
                <img src={{obj.img}}>
                <button value="Update" class="btn float-right login_btn" id="lg_bt">
                    <a href="updatePlace/{{item.pk}}/{{forloop.counter}}">Update</a>
                </button>
                <button value="Delete" class="btn float-right login_btn" id="lg_bt">
                    <a href="tempDelete/{{item.pk}}">Delete</a>
                </button>
                {% endifequal %}
            {% endif %}

        {% endfor %}
    {% endifequal %}
    
    <br><br><hr>
{% endfor %}

