{% extends 'base.html' %}
{% block body %}

 <h2>{{ errors }}</h2>
 <form method="POST" enctype="multipart/form-data">
   {% csrf_token %}
    <input type="text" class="form-control" placeholder="Username" id="username" name="username" value="{{username}}" minlength="2" maxlength="200" autocomplete="off" required />
    <br>
    <input type="password" class="form-control" placeholder="Password" name="password" minlength="8" maxlength="15" required />
    <br>
    <input type="password" class="form-control" placeholder="Confirm Password" name="cpassword" minlength="8" maxlength="15" required />
    <br>
    <input type="email" class="form-control" placeholder="Mail Id" id="mail" name="mail" value="{{mail}}"pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" maxlenght="320" required />
    <br>                 
    <input type="number" class="form-control" placeholder="Contact Number" id="contact" name="contact" value="{{contact}}" pattern="[0-9]{10}" required />
    <br>
    <select class="form-control" id="gender" name="gender" value="{{gender}}" required>
      <option value="Male">Male</option>
      <option value="Female">Female</option>
      <option value="Other">Other</option>
    </select>
        <br>
    <input type="date" id="dob" name="dob" value="{{dob}}" required>
    <br>
    <div class="form-group">
        <input type="submit" value="Sign Up" class="btn float-right login_btn" id="lg_bt" />
    </div>
 </form>
 <div class="d-flex justify-content-center links">
    Already Have an Account?<a href="userLogin">Sign In</a>
  </div>
{% endblock %}